{% extends 'layout.html' %}

{% block title %} Home - {% endblock %}

{% block head %}
    {{ super() }}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block header %}
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <p class="centered font-light">
      <span class="selected">
        <a href="">COURSES</a>
      </span>
    </p>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <p class="centered font-light">
      <a href="">ABOUT</a>
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <a href="#">
    <div class="col-md-6 col-sm-8 col-xs-12 image">
      <img src="/static/img/phlebotomy_technician_certification.jpg" width="100%">  
      <h3 class="heading font-bold font-overlay"> <span>Phlebotomy Technician Certification </span> </h3>
    </div>
  </a>
</div>
<div class="row">
  <a href="#">
    <div class="col-md-6 col-sm-8 col-xs-12 image">
      <img src="/static/img/drivers_liscense_exam.jpg" width="100%">      
      <h3 class="heading font-bold font-overlay"> <span> Massachusetts Driver's License </span></h3> 
    </div>
  </a>
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}