<div class="row">
  <div class="col-md-1 col-sm-1 col-xs-1">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 meter-container">
    <ul class="list-inline">
      <li class="meter filled"> &nbsp;</li>
      <li class="meter filled"> &nbsp;</li>
      <li class="meter"> &nbsp;</li>
      <li class="meter"> &nbsp;</li>
      <li class="meter"> &nbsp;</li>
      <li class="meter"> &nbsp;</li>
      <li class="meter"> &nbsp;</li>
      <li class="meter"> &nbsp;</li>
      <li class="meter"> &nbsp;</li>
      <li class="meter"> &nbsp;</li>
    </ul>
  </div>
</div>